.heroBox {
  margin-bottom: 20px;
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1.heroTitle {
  max-width: 95%;
  position: relative;
  z-index: 1;
  color: #1976d2;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .heroBox {
    height: 100vh;
  }
  h1.heroTitle {
    font-weight: 700;
    font-size: 6rem;
  }
}
