.mainContent {
  background-color: #5a5dff;
  padding: 10px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}
h1.title {
  text-align: center;
}
.link {
  display: inline-block;
  font-size: 26px;
  font-weight: 500;
  color: white;
  background: linear-gradient( 114.99deg, #471ca9 -0.99%, #5736a3 54.28%, #4b2a99 78.99% );
    border-radius: 10px;
    border: currentColor;
  padding: 10px 20px;
  
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
  text-decoration: none;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: #5cd3a8;
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
}
.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.filter {
  padding: 10px;
  font-size: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.filter option {
  padding: 10px;
  font-size: 26px;
  background-color: #fff;
  color: #333;
}

.filter option:checked {
  background-color: #007bff;
  color: #fff;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  h1.title {
    font-size: 26px;
  }
  .mainContent,
  .filter,
  .filter option {
    font-size: 20px;
  }
}
